<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "ja" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ if .IsHome }}<title>{{ .Site.Title }}</title>{{ else }}<title>{{ .Title }} - {{ .Site.Title }}</title>{{ end }}

{{ partial "_style.html" . }}

<link rel="icon" href="{{ .Site.BaseURL }}img/favicon.ico" type="image/png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">


{{ partial "_analytics.html" . }}

</head>

<body>
<div class="wrapper">


<header>
<div class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
<p class="site-description">{{ $.Site.Params.description }}</p>
</header>


<div id="layout" class="pure-g">
  <main id="main" class="pure-u-1 pure-u-md-1 pure-u-lg-5-8">

<div class="content">

{{ block "main" . }}{{ end }}

</div>{{ printf "<!-- /.content -->" | safeHTML }}

  </main>{{ printf "<!-- /main -->" | safeHTML }}


{{ partial "_sidebar.html" . }}


</div>{{ printf "<!-- /.pure-g -->" | safeHTML }}
</div>{{ printf "<!-- /.wrapper -->" | safeHTML }}

</body>
</html>
