{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>

<div class="date">{{ dateFormat "2006-01-02" .PublishDate }}</div>

{{ .Content }}

{{- if .Params.tags }}
	<div class="post-tags">
{{- range .Params.tags }}
{{- $href := print (absURL "tags/") (urlize .) }}
<a href="{{ $href }}">{{ . }}</a>
{{- end }}
	</div>{{ printf "<!-- /.post-tags -->" | safeHTML }}
{{- end }}

	<div class="post-nav">
{{- with .PrevInSection }}
<div class="prev-post">Prev: <a class="previous" href="{{.Permalink}}">{{ .Title }}</a></div>
{{- end }}
{{- with .NextInSection }}
<div class="next-post">Next: <a class="next" href="{{.Permalink}}">{{ .Title }}</a></div>
{{- end }}
	</div>{{ printf "<!-- /.post-nav -->" | safeHTML }}
{{ end }}
